.has-bg-color {
    background-image: url('/assets/images/CONTACT-SERVICII-CONTABILITATE.jpg');
    background-size: cover;
}

.box {
    &.no-padding {
        padding: 0;
        height: auto;
        margin-bottom: 20px;
    }

    .button-primary.animated.block-centered.is-dark {
        background-color: #FFEB3B;
        color: #1A1E4E;
    }
}